.about {
    padding: 30px 0px;

    & .image {
        max-width: 80%;
        display: flex;
        justify-content: center;

        & img {
            max-width: 80%;
        }
    }

    & .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 30px;
        height: 100%;

        & .title {
            text-align: center;
            color: $orange;
            text-transform: uppercase;
            font-size: 35px;
            margin-bottom: 20px;
        }

        & .subtitle {
            text-align: center;
            color: $green;
            text-transform: uppercase;
            font-size: 22px;
            margin-bottom: 25px;
        }

        & .body {
            text-align: justify;
            max-width: 600px;
        }
    }
}