.audio {
    background-color: $green;

    & .audio {
        background-color: $green;
    }
    
    padding: 30px 0px;

    & .widget {
        display: flex;
        justify-content: center;
    }

    & .text {

        & .title {
            color: $orange;
        }

        & .body {
            color: $orange;
        }
    }
}

