.film {
    background-color: $green;

    padding: 30px 0px;

    & .text {
        padding: 0px 70px 0px 20px;

        & .title {
            color: $orange;
        }

        & .body {
            color: $orange;
        }
    }

    & .slider {
        max-width: 80%;

        & .slider-item {
            padding: 0px 5px;

            & .button {
                display: none;
                position: absolute;
                top: 10px;
                left: 15px;

                & span {
                    color: $orange;
                }
            }

            &:hover .button {
                display: initial;
            }
        }
    }
}

#film-modal {
    & .uk-modal-dialog {
        background-color: $beige;
    }

    & .uk-modal-body {
        padding: 20px;

        @include for-phone-only {
            padding: 5px;
        }
    }

    & .iframe-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

        /* Then style the iframe to fit in the container div with full height and width */
        & .responsive-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
      }
}