.services.desktop {
    width: 100vw;
    min-height: 100vh;
    margin: 50px 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    @include for-phone-only {
        display: none;
    }

    & .container {
        min-width: 75%;
        display: flex;
        justify-content: space-evenly;

        @include for-phone-only {
            flex-direction: column;
            min-width: 100%;
            justify-content: initial;
        }

        & .card {
            max-width: 25%;
            padding: 40px 20px 20px;
            border-radius: 10px;
            text-decoration: none;
            color: $black;

            @include for-phone-only {
                display: flex;
                max-width: 100%;
                align-items: flex-start;
            }

            & .icon {
                display: flex;
                justify-content: center;
                align-items: center;

                & img {
                    max-width: 150px;

                    @include for-phone-only {
                        max-width: 70px;
                        margin-right: 20px;
                        margin-top: 12px;
                    }
                }
            }

            & .text {
                text-align: center;

                @include for-phone-only {
                    text-align: left;
                }

                & .title {
                    color: $orange;
                    text-transform: uppercase;
                    font-size: 25px;
                    padding: 10px 0px;
                    margin: 20px 0px;
                }

                & .body {
                    text-align: left;

                    @include for-phone-only {
                        text-align: left;
                    }
                }
            }

            &.hover {
                -o-transition:.5s;
                -ms-transition:.5s;
                -moz-transition:.5s;
                -webkit-transition:.5s;
                /* ...and now for the proper property */
                transition:.5s;
            }

            &.hover:hover {
                cursor: pointer;
                box-shadow: 5px 5px 15px 2px #B2B2B2;
            }
        }
    }
}

.services.phone {
    display: none;

    @include for-phone-only {
        display: initial;
    }

    & .container {
        padding: 20px;

        & .uk-accordion-title {
            &::before {
                margin-top: 35px;
            }

            & div.container {
                display: flex;
                align-items: center;

                & > img {
                    width: 50px;
                    margin-left: -20px;
                }    
                
                & .title {
                    margin-left: 20px;
                    color: $orange;
                    text-transform: uppercase;
                    font-weight: bold;
                }


            }
        }

        & .uk-accordion-content {
            text-align: justify;

            & .portfolio-link {
                display: flex;
                justify-content: center;

                & a {
                    background-color: $green;
                    color: $orange;
                    padding: 10px 20px;
                    border-radius: 2px;
                    text-align: center;
                    text-decoration: none;
                    font-weight: 900;
                }
            }
        }
    }
}