.full-screen-video {
    min-width: 100vw;
    max-width: 100vw;
    max-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    &.full-height {
        min-height: 100vh;
    }
}